* {
  margin: 0;
  padding: 0;
}
.head-logo {
  width:200px;
  height: 85px;
  margin:30px 50px;
}
.head-logo img {
  width: 100%;
  height: 100%;
}
.layui-form-item {
  display: flex;
}
.layui-form-item  .username,.password{
  flex: 1;
  color: #1E9FFF;
  font-family: 'icomoon';
  font-size: 20px;
  line-height: 38px;
  font-style: normal;
}
.layui-input {
  flex: 10;
  padding: 0px;
  width: 300px;
  text-indent: 1em;
}
.login-box {
  margin-top: 20px;
}
.layui-btn {
  margin-top: 10px;
}
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title-box {
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.reg-box {
  display: none;
}

.layui-form {
  padding: 0px 30px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.links a {
  font-size: 12px;
}
